body {
  font-family: 'Playfair Display', serif;
  background-color: #faebd7;
  margin: 0px;
  padding: 0px !important; }

main {
  padding-top: 83px;
  min-height: calc(100vh - 60px);
  overflow: hidden; }

.container-paddings, .quienes-somos, .mi-cuenta, .carro, .compra {
  padding: 25px 0px; }

.margins-box {
  margin: 0px 30px 30px 30px; }

.border-inputs, .mi-cuenta input, .mi-cuenta select, .carro .table input[type=number] {
  border-bottom: 2px solid #ced4da;
  box-sizing: border-box; }

.titulo, .box-titulo h1, .quienes-somos .quienes-somos__box-titulo h1, .mi-cuenta .mi-cuenta__box-titulo h1, .carro .carro__box-titulo h1, .compra .compra__box-titulo h1 {
  font-style: italic;
  letter-spacing: 7px;
  color: black;
  text-align: center; }

.sub-titulo, .quienes-somos .quienes-somos__subtitulo, .mi-cuenta .mi-cuenta__subtitulo {
  font-style: italic;
  letter-spacing: 5px;
  color: black;
  font-weight: 600; }

.box-titulo, .quienes-somos .quienes-somos__box-titulo, .mi-cuenta .mi-cuenta__box-titulo, .carro .carro__box-titulo, .compra .compra__box-titulo {
  justify-content: center;
  margin-bottom: 50px; }

nav {
  background-color: #f7b6c1; }
  nav .nav-link, nav .dropdown-item {
    color: #ffffff !important;
    font-weight: 600;
    font-size: 15px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px; }
  nav .nav-link:hover {
    color: #ffe9f4 !important; }
  nav .nav-item {
    padding-left: 10px;
    padding-right: 10px; }
  nav .navbar-brand {
    padding: 0px; }
  nav .dropdown-menu {
    background: #c38691; }
  nav .dropdown-item:hover {
    background: #f7b6c1; }
  nav .logo {
    height: auto;
    width: 70px; }
  nav .nav-cart a {
    padding: 0px 0.5rem;
    display: flex;
    align-items: center; }
  nav .nav-cart div span {
    text-transform: none; }
  @media (min-width: 768px) and (max-width: 1023px) {
    nav .nav-cart div {
      visibility: hidden; } }
  nav .nav-cart i {
    font-size: xx-large;
    vertical-align: middle;
    padding-right: 5px; }

.footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f7b6c1;
  text-align: center; }
  .footer .footer__texto {
    color: #ffffff; }
  .footer .footer--espaciado {
    letter-spacing: 3px; }

.alert {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  position: fixed;
  top: 0px;
  width: 100%;
  height: auto;
  transition: all .3s;
  z-index: 999;
  border-radius: 0px;
  border: 0; }
  .alert.alert-success {
    background-color: #74d86c; }
  .alert .alert-link {
    float: right;
    padding-right: 10px; }
  .alert span {
    padding-left: 10px; }
  .alert.show {
    transform: translateY(83px); }
  .alert:target {
    transform: translateY(83px); }

.home {
  display: table;
  width: 100%;
  height: calc(100vh - 83px);
  background: url(./../imagenes/portada.jpg) top center;
  background-size: cover; }
  .home .home__container {
    background: rgba(0, 0, 0, 0.6);
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle; }
  .home h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 48px;
    font-style: italic;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: #ffffff; }
    @media (max-width: 768px) {
      .home h1 {
        font-size: 28px;
        line-height: 36px; } }
  .home h2 {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    margin-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px; }
    @media (max-width: 768px) {
      .home h2 {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 30px; } }
  .home h4 {
    font-family: "Raleway", sans-serif;
    line-height: 48px;
    color: #ffffff; }
    @media (max-width: 768px) {
      .home h4 {
        font-size: 20px;
        line-height: 36px; } }
  .home .home__button {
    font-family: "Raleway", sans-serif;
    border-radius: 20px;
    background-color: #c38691;
    padding-right: 25px;
    padding-left: 25px;
    border: 1px solid #ffe9f4;
    font-size: 18px;
    color: #ffffff;
    margin: 0px 5px; }
  .home .home__button:hover {
    background-color: #cca6ae !important; }
  .home .home__button:active {
    background-color: #c38691 !important; }

.header-productos {
  display: block;
  width: 100%;
  height: 60px;
  background-color: #f7b6c1;
  position: relative;
  text-align: center;
  margin-bottom: 24px; }
  .header-productos div {
    background-color: #faebd7;
    height: 100%;
    display: inline-block;
    position: relative;
    z-index: 99;
    padding: 0px 48px;
    border-radius: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 60px;
    font-size: 35px;
    font-style: italic;
    color: #c38691;
    letter-spacing: 5px; }

.productos-container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 40px 0px; }
  @media (max-width: 425px) {
    .productos-container {
      padding-left: 15px;
      padding-right: 15px; } }
  .productos-container .card {
    background-color: #f5f3ec;
    box-shadow: 2px 2px 9px 0px #d4d2ca;
    margin: 0px 20px; }
  .productos-container .card-body {
    font-family: "Raleway", sans-serif;
    color: #4c4841; }
    .productos-container .card-body .card-title {
      font-size: 1.8em;
      font-weight: 700; }
    .productos-container .card-body .card-text .price {
      font-family: sans-serif;
      font-size: 1.4em;
      font-weight: 700; }
      .productos-container .card-body .card-text .price .price-symbol {
        font-weight: 400;
        font-size: .7em;
        position: relative;
        top: -2px;
        left: -2px; }
    .productos-container .card-body .btn {
      padding: 4px 15px;
      margin: 15px 0px; }
    .productos-container .card-body:hover .card-title {
      color: #c38691; }

.quienes-somos .quienes-somos__subtitulo {
  margin-bottom: 20px; }

.quienes-somos .quienes-somos__parrafo {
  font-size: 16px;
  text-align: justify; }

.quienes-somos .quienes-somos--destacada {
  font-weight: 800;
  letter-spacing: 4px; }

.accordion {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  .accordion .card {
    border: 1px solid #cca6ae; }
  .accordion .card-header {
    background-color: #ffd8e0; }
  .accordion .card-body {
    background-color: #faebd7;
    padding-left: 2.25rem; }
  .accordion .btn {
    color: black;
    font-size: 18px;
    font-weight: 600; }

.button, .productos-container .card-body .btn, .mi-cuenta .mi-cuenta__button, .carro .carro__button-comprar, .compra .btn {
  border-radius: 20px;
  background-color: #f7b6c1;
  border: 1px solid #f7b6c1;
  font-size: 18px;
  color: #ffffff;
  font-weight: 600; }
  .button:hover, .productos-container .card-body .btn:hover, .mi-cuenta .mi-cuenta__button:hover, .carro .carro__button-comprar:hover, .compra .btn:hover {
    background-color: #c38691; }
  .button:active, .productos-container .card-body .btn:active, .mi-cuenta .mi-cuenta__button:active, .carro .carro__button-comprar:active, .compra .btn:active {
    background-color: #f7b6c1 !important; }

.mi-cuenta .mi-cuenta--box-paddings {
  padding-left: 20px;
  padding-right: 20px; }

.mi-cuenta .mi-cuenta__texto-olvidaste-contrasena {
  font-size: 16px; }

.mi-cuenta .mi-cuenta__texto-olvidaste-contrasena a:hover, .mi-cuenta a:visited, .mi-cuenta a:link, .mi-cuenta a:active {
  display: inline-block;
  text-decoration: none;
  color: darkblue;
  margin-bottom: 1rem; }

.mi-cuenta .mi-cuente__subtitulo-form-login {
  padding-bottom: 10px;
  display: block;
  font-weight: 600; }

.mi-cuenta .mi-cuenta__button {
  padding-right: 25px;
  padding-left: 25px; }

.mi-cuenta .mi-cuenta .form-group label {
  font-size: 18px; }

.mi-cuenta input, .mi-cuenta select {
  border-radius: 6px;
  box-sizing: border-box; }

.carro .carro__precio, .carro .carro__total-valor {
  font-family: sans-serif; }

.carro .carro__total-titulo, .carro .carro__total-valor {
  background-color: #ffd8e0;
  border: 1px solid #cca6ae; }

.carro .carro--destacada {
  font-weight: 600; }

.carro .carro--centrada {
  text-align: center; }

.carro .carro__button-comprar {
  float: right;
  padding: 4px 15px;
  margin: 15px 20px; }

.carro .table {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border: 1px solid #cca6ae;
  background-color: #f5f3ec; }
  .carro .table thead {
    background-color: #ffd8e0; }
    .carro .table thead th {
      border: none; }
  .carro .table td, .carro .table th {
    border-top: 1px solid #cca6ae; }
  .carro .table tbody tr td {
    vertical-align: middle; }
  .carro .table tbody tr th {
    text-align: center;
    vertical-align: middle; }
  .carro .table a {
    color: #212529; }
  .carro .table input[type=number] {
    padding: 9px 12px;
    background: #f5f3ec;
    border: 1px solid #ced4da;
    border-radius: 6px; }

.compra .compra__precio {
  font-family: sans-serif; }

.compra .badge-secondary {
  background-color: #cca6ae; }

.compra input, .compra select {
  border-radius: 6px;
  box-sizing: border-box; }

.compra hr {
  border-top: 1px solid #cca6ae; }

.compra .list-group {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border: 1px solid #cca6ae; }
  .compra .list-group .list-group-item {
    background-color: #f5f3ec;
    border: 1px solid #cca6ae; }
