body {
  font-family: 'Playfair Display', serif;
  background-color: #faebd7;
  margin: 0px;
  padding: 0px !important; }

main {
  padding-top: 83px;
  min-height: calc(100vh - 60px);
  overflow: hidden; }

.container-paddings, .quienes-somos, .mi-cuenta {
  padding: 25px 0px; }

.margins-box {
  margin: 0px 30px 30px 30px; }

.titulo, .box-titulo h1, .quienes-somos .quienes-somos__box-titulo h1, .mi-cuenta .mi-cuenta__box-titulo h1 {
  font-style: italic;
  letter-spacing: 7px;
  color: black;
  text-align: center; }

.sub-titulo, .quienes-somos .quienes-somos__subtitulo, .mi-cuenta .mi-cuenta__subtitulo {
  font-style: italic;
  letter-spacing: 5px;
  color: black;
  font-weight: 600; }

.box-titulo, .quienes-somos .quienes-somos__box-titulo, .mi-cuenta .mi-cuenta__box-titulo {
  justify-content: center;
  margin-bottom: 50px; }

.home {
  display: table;
  width: 100%;
  height: calc(100vh - 83px);
  background: url(./../imagenes/portada.jpg) top center;
  background-size: cover; }
  .home .home__container {
    background: rgba(0, 0, 0, 0.6);
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle; }
  .home h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    line-height: 48px;
    font-style: italic;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: #ffffff; }
    @media (max-width: 768px) {
      .home h1 {
        font-size: 28px;
        line-height: 36px; } }
  .home h2 {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    margin-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px; }
    @media (max-width: 768px) {
      .home h2 {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 30px; } }
  .home h4 {
    font-family: "Raleway", sans-serif;
    line-height: 48px;
    color: #ffffff; }
    @media (max-width: 768px) {
      .home h4 {
        font-size: 20px;
        line-height: 36px; } }
  .home .home__button {
    font-family: "Raleway", sans-serif;
    border-radius: 20px;
    background-color: #c38691;
    padding-right: 25px;
    padding-left: 25px;
    border: 1px solid #ffe9f4;
    font-size: 18px;
    color: #ffffff;
    margin: 0px 5px; }
  .home .home__button:hover {
    background-color: #cca6ae !important; }
  .home .home__button:active {
    background-color: #c38691 !important; }

nav {
  background-color: #f7b6c1; }
  nav .nav-link, nav .dropdown-item {
    color: #ffffff !important;
    font-weight: 600;
    font-size: 15px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px; }
  nav .nav-item {
    padding-left: 10px;
    padding-right: 10px; }
  nav .navbar-brand {
    padding: 0px; }
  nav .dropdown-menu {
    background: #c38691; }
  nav .dropdown-item:hover {
    background: #f7b6c1; }
  nav .navbar-nav {
    padding-right: 150px; }
  nav .logo {
    height: auto;
    width: 70px; }

.footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f7b6c1;
  text-align: center; }
  .footer .footer__texto {
    color: #ffffff; }
  .footer .footer--espaciado {
    letter-spacing: 3px; }

.productos {
  display: flex;
  flex-direction: column;
  padding: 25px 0px; }
  .productos .productos__titulo {
    font-style: italic;
    letter-spacing: 7px;
    text-align: center;
    color: black; }
  .productos .productos__lista {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px; }
  .productos .productos__item {
    width: 300px;
    height: 300px;
    border: solid 5px palevioletred; }
  .productos .productos__img {
    width: 300px;
    height: 300px; }

.quienes-somos .quienes-somos__subtitulo {
  margin-bottom: 20px; }

.quienes-somos .quienes-somos__parrafo {
  font-size: 16px;
  text-align: justify; }

.quienes-somos .quienes-somos--destacada {
  font-weight: 800;
  letter-spacing: 4px; }

.accordion {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  .accordion .card {
    border: 1px solid #cca6ae; }
  .accordion .card-header {
    background-color: #ffd8e0; }
  .accordion .card-body {
    background-color: #faebd7;
    padding-left: 2.25rem; }
  .accordion .btn {
    color: black;
    font-size: 18px;
    font-weight: 600; }

.mi-cuenta .mi-cuenta--box-paddings {
  padding-left: 20px;
  padding-right: 20px; }

.mi-cuenta .mi-cuenta__texto-olvidaste-contrasena {
  font-size: 16px; }

.mi-cuenta .mi-cuenta__texto-olvidaste-contrasena a:hover, .mi-cuenta a:visited, .mi-cuenta a:link, .mi-cuenta a:active {
  display: inline-block;
  text-decoration: none;
  color: darkblue;
  margin-bottom: 1rem; }

.mi-cuenta .mi-cuente__subtitulo-form-login {
  padding-bottom: 10px;
  display: block;
  font-weight: 600; }

.mi-cuenta .mi-cuenta__button {
  border-radius: 20px;
  background-color: #f7b6c1;
  padding-right: 25px;
  padding-left: 25px;
  border: 1px solid #f7b6c1;
  font-size: 18px;
  color: #ffffff;
  font-weight: 600; }

.mi-cuenta .mi-cuenta__button:hover {
  background-color: #c38691; }

.mi-cuenta .mi-cuenta__button:active {
  background-color: #f7b6c1 !important; }

.mi-cuenta .mi-cuenta .form-group label {
  font-size: 18px; }
