body {
    font-family: 'Playfair Display', serif;
    background-color: antiquewhite;
    margin: 0px;
    padding: 0px !important;
    height: 100vh;
    }

main {
    padding-top: 83px;
    padding-bottom: 60px;
    height: 100%;
    overflow: scroll;
}