body {
    font-family: 'Playfair Display', serif;
    background-color: $body-color-bg;
    margin: 0px;
    padding: 0px !important;
}

main {
    padding-top: $header-height;
    min-height: calc(100vh - #{$footer-height});
    overflow: hidden;
}

.container-paddings {
    padding: 25px 0px;
}

.margins-box {
    margin: 0px 30px 30px 30px;
}