$body-color-bg: #faebd7;

$primary-color: #f7b6c1;
$primary-color-dark: #c38691;
$primary-color-light: #ffe9f4;
$primary-text: #ffffff;

$secondary-color: #ffd8e0;
$secondary-color-dark: #cca6ae;
$secondary-color-light: #ffffff;
$secondary-text: #000000;

$card-background-color: #f5f3ec;
$card-box-shadow-color: #d4d2ca;

$alert-success-color: #74d86c; 