.accordion{
    box-shadow: $card-box-shadow;

    .card {
        border: 1px solid $secondary-color-dark;
    }

    .card-header {
        background-color: $secondary-color;
    }

    .card-body {
        background-color: $body-color-bg;
        padding-left: 2.25rem;
    }

    .btn {
        color: black;
        font-size: 18px;
        font-weight: 600;
    }
}