.carro {
    @extend .container-paddings;

    .carro__box-titulo {
        @extend .box-titulo;
    }

    .carro__precio {
        font-family: sans-serif;
    }

    .carro__total-titulo {
        background-color: #ffd8e0;
        border: 1px solid #cca6ae;
    }

    .carro__total-valor {
        @extend .carro__total-titulo;
        @extend .carro__precio;
    }

    .carro--destacada {
        font-weight: 600;
    }

    .carro--centrada {
        text-align: center;
    }

    .carro__button-comprar {
        @extend .button;
        float: right;
        padding: 4px 15px;
        margin: 15px 20px;
    }

    .table {
        box-shadow: $card-box-shadow;
        border: 1px solid $secondary-color-dark;
        background-color: $card-background-color;

        thead {
            background-color: $secondary-color;
            th {
                border: none;
            }
        }

        td, th {
            border-top: 1px solid $secondary-color-dark;
        }

        tbody tr td {
            vertical-align: middle;
        }

        tbody tr th {
            text-align: center;
            vertical-align: middle;
        }

        a {
            color: #212529;
        }

        input[type=number] {
            @extend .border-inputs;
            padding: 9px 12px;
            background: #f5f3ec;
            border: 1px solid $input-border-color;
            border-radius: 6px;
        }
    }
}