.mi-cuenta{
    @extend .container-paddings;

    .mi-cuenta__box-titulo {
        @extend .box-titulo;
    }

    .mi-cuenta__subtitulo {
        @extend .sub-titulo;
    }

    .mi-cuenta--box-paddings { 
        padding-left: 20px;
        padding-right: 20px;
    }

    .mi-cuenta__texto-olvidaste-contrasena {
        font-size: 16px;
    }

    .mi-cuenta__texto-olvidaste-contrasena a:hover, a:visited, a:link, a:active {
        display: inline-block;
        text-decoration: none;
        color: darkblue;
        margin-bottom: 1rem;
    }

    .mi-cuente__subtitulo-form-login {
        padding-bottom: 10px;
        display: block;
        font-weight: 600;
    }

    .mi-cuenta__button {
        border-radius: 20px;
        background-color: $primary-color;
        padding-right: 25px;
        padding-left: 25px;
        border: $primary-color;
        font-size: 18px;
        font-weight: 600;
    }

    .mi-cuenta__button:hover {
        background-color: $primary-color-dark;
    }

    .mi-cuenta .form-group label {
        font-size: 18px;
    }
}