nav {
    background-color: pink;
}

.nav-link, .dropdown-item {
    color: white !important;
    font-weight: 600;
    font-size: 15px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-brand {
    padding: 0px;
}

.dropdown-menu {
    background:hotpink;
}

.dropdown-item:hover {
    background:pink;
}

.navbar-nav {
    padding-right: 150px;
}

.logo {
    height: auto;
    width: 70px;
}