nav {
    background-color: $primary-color;

    .nav-link, .dropdown-item {
        color: $primary-text !important;
        font-weight: 600;
        font-size: 15px;
        font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .nav-link:hover {
        color: $primary-color-light !important;
    }

    .nav-item {
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar-brand {
        padding: 0px;
    }

    .dropdown-menu {
        background: $primary-color-dark;
    }

    .dropdown-item:hover {
        background: $primary-color;
    }

    .logo {
        height: auto;
        width: 70px;
    }

    .nav-cart {
        a {
            padding: 0px 0.5rem;
            display: flex;
            align-items: center;
        }

        div {
            span {
                text-transform: none;
            }
            @media (min-width: 768px) and (max-width: 1023px) {
                visibility: hidden;
            }
        }
        
        i {
            font-size: xx-large;
            vertical-align: middle;
            padding-right: 5px;
        }
    }
}