.quienes-somos {
    @extend .container-paddings;

    .quienes-somos__box-titulo {
        @extend .box-titulo;
    }

    .quienes-somos__subtitulo {
        @extend .sub-titulo;
        margin-bottom: 20px;  
    }
    
    .quienes-somos__parrafo {
        font-size: 16px;
        text-align: justify;
    }

    .quienes-somos--destacada {
        font-weight: 800;
        letter-spacing: 4px;
    }
}